body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	float: left;
	padding: 5px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	/*background: #eee;*/
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*--------------------------------------mycss------------------------------------*/
html,body{background: #fff;}
#page{margin-top: 45px; border: none;}

#header{height: 45px; color: #fff; line-height: 2.5em; position: fixed; top: 0; left: 0; right: 0; z-index: 100; background: #1d2d44 url(../images/noise.png?2013-09-06T18:38:20Z) repeat; border-top: none; -moz-box-shadow: 0 0 10px rgba(0,0,0,.5),inset 0 -2px 10px #222; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5),inset 0 -2px 10px #222;
box-shadow: 0 0 10px rgba(0,0,0,.5),inset 0 -2px 10px #222;}
#header a{color: #fff; text-decoration: none;}
#header h4{margin-bottom: 0; float: right; color: #fff; font-size: 12px; line-height: 45px;}

#settings{float: right; margin-top: 7px;
color: #bbb;
text-shadow: 0 -1px 0 #000; list-style: none;}
#expand {
padding: 15px;
cursor: pointer;
font-weight: bold;
}
#expanddiv {display: none; position: absolute; right: 0; top: 45px; z-index: 76; background: #383c43 url(../images/noise.png?2013-09-06T18:38:20Z) repeat; border-bottom-left-radius: 7px;
border-bottom: 1px #333 solid; border-left: 1px #333 solid; -moz-box-shadow: 0 0 7px rgb(29,45,68); -webkit-box-shadow: 0 0 7px rgb(29,45,68); box-shadow: 0 0 7px rgb(29,45,68);}
#expanddiv a{display: block; color: #fff; text-shadow: 0 -1px 0 #000; padding: 0 8px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); 
opacity: .7;}
#expanddiv a:hover{opacity: 1;}

#content{padding: 45px 20px 20px;}

input[type="text"], input[type="password"], select{width: 355px; height: 18px; padding: 5px 25px 5px 6px; color: #555; font-size: 13px; line-height: 18px; font-family: Arial,sans-serif; background: #fff; border: 1px solid #ccc;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);}
select{height: 30px; width: 390px; padding-right: 5px;}
input[type="submit"]{height: 30px; padding: 0 20px; border: 1px solid #e6e6e6; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #f5f5f5;
background-image: -ms-linear-gradient(top,#fff,#e6e6e6); background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6)); background-image: -webkit-linear-gradient(top,#fff,#e6e6e6); background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(top,#fff,#e6e6e6); background-image: -moz-linear-gradient(top,#fff,#e6e6e6); background-repeat: repeat-x;}

input[type="submit"]:hover{background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position .1s linear; -moz-transition: background-position .1s linear; -ms-transition: background-position .1s linear;
-o-transition: background-position .1s linear; transition: background-position .1s linear;}

p.label{position: relative; float: left; padding: 0; margin: 0;}
p.label label{position: absolute; z-index: 2; top: 9px; left: 7px; color: #9b9b9b; font-weight: normal; font-size: 13px; line-height: 18px; font-family: Arial, sans-serif;}

input:-webkit-autofill{position:relative; z-index:3;}

.login_form{width: 390px; margin: 0 auto; padding-top: 150px; background: url(../images/lock.png) no-repeat 50% 0; margin-top: 60px;}
.login_form input[type="submit"]{display: block; margin: 0 auto;}

.form .col{padding-top:50px; float: left;}
.row{width: 100%; float: left;}

#sidebar{margin-top: 28px;}
.portlet-decoration{height: 23px; padding: 5px 8px; background: #1d2d44 url(../images/noise.png) repeat; border-left: 5px solid #B7D6E7; border-bottom: 1px solid #B7D6E7;}
.portlet-title{color: #B7D6E7; line-height: 23px;}
.portlet-content{background: #1d2d44 url(../images/noise.png) repeat;}
.operations li a, .operations li a:visited{color: #fff;}
.operations li a:hover{color: #B7D6E7; background: none;}

.container .grid-view table.items th{background: #1d2d44 url(../images/noise.png) repeat;}