.left_side {
	float:left;
	min-width:319px;
	max-width: 319px;
	overflow:auto;
	padding:0px 0; 
	background:white;
	padding-top:20px;
}
#data { margin-left:320px; }
#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
#data, #code { font: normal normal normal 12px/18px 'Consolas', monospace !important; }

#tree .folder { background:url('../../file_sprite.png') right bottom no-repeat; }
#tree .file { background:url('../../file_sprite.png') 0 0 no-repeat; }
#tree .file-pdf { background-position: -32px 0 }
#tree .file-as { background-position: -36px 0 }
#tree .file-c { background-position: -72px -0px }
#tree .file-iso { background-position: -108px -0px }
#tree .file-htm, #tree .file-html, #tree .file-xml, #tree .file-xsl { background-position: -126px -0px }
#tree .file-cf { background-position: -162px -0px }
#tree .file-cpp { background-position: -216px -0px }
#tree .file-cs { background-position: -236px -0px }
#tree .file-sql { background-position: -272px -0px }
#tree .file-xls, #tree .file-xlsx { background-position: -362px -0px }
#tree .file-h { background-position: -488px -0px }
#tree .file-crt, #tree .file-pem, #tree .file-cer { background-position: -452px -18px }
#tree .file-php { background-position: -108px -18px }
#tree .file-jpg, #tree .file-jpeg, #tree .file-png, #tree .file-gif, #tree .file-bmp { background-position: -126px -18px }
#tree .file-ppt, #tree .file-pptx { background-position: -144px -18px }
#tree .file-rb { background-position: -180px -18px }
#tree .file-text, #tree .file-txt, #tree .file-md, #tree .file-log, #tree .file-htaccess { background-position: -254px -18px }
#tree .file-doc, #tree .file-docx { background-position: -362px -18px }
#tree .file-zip, #tree .file-gz, #tree .file-tar, #tree .file-rar { background-position: -416px -18px }
#tree .file-js { background-position: -434px -18px }
#tree .file-css { background-position: -144px -0px }
#tree .file-fla { background-position: -398px -0px }
thead th {background: white}
.jstree .jstree-children {
   background:white;
}
#tree > .jstree-children{
	padding:15px 5px 25px 5px;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #000;
  content: ">>";
}
.files_datatable tr{
	height:45px;
	vertical-align: middle;
}
.files_datatable tr td{
	vertical-align: middle !important;
	font-family: Arial;
}
.jstree-default-small .jstree-anchor {
  line-height: 18px;
  height: 18px;
  max-width: 223px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.icons-box .infont a {
   display: inline-block;
}
.first_column  i {
  cursor: default;
}
@media screen and (max-width: 1280px) {
	#data {
	  margin-left: 17px;
	  float: left;
	  width: 100%; /* 64%*/
	}
}
@media screen and (max-width: 1220px) {
	#data {
	  margin-left: 17px;
	  float: left;
	  width: 100%; /* 60%*/
	}
} 
@media screen and (max-width: 1128px) {
	#data {
	  margin-left: 17px;
	  float: left;
	  width: 100%; /* 57%*/
	}
}
@media screen and (max-width: 1069px) {
	#data {
	   margin-left: 0;
	   float: left;
	   width: 100%;
	   background: white;
	}
	.left_side{
		float:none;
		max-width:none;
		
	}
}