/**
 * MacOS X like theme for elFinder.
 * Required jquery ui "smoothness" theme.
 *
 * @author Dmitry (dio) Levashov
 **/

/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#ededed; background-image:none; background-clip: content-box; }

/* navbar */
.elfinder .elfinder-navbar { background:#dde4eb; }
.elfinder-navbar .ui-state-hover  { background:transparent; border-color:transparent; }
.elfinder-navbar .ui-state-active { background: #3875d7;    border-color:#3875d7; color:#fff; }
/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active { background: #dadada; border-color:#aaa; color:#fff; }


/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover { background:#ccc; }
/* list view*/
.elfinder-cwd table tr:nth-child(odd) { background-color:#edf3fe; }
.elfinder-cwd table tr { border-top:1px solid #fff; }

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover { background: #3875d7; color:#fff;}
/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover { background:#dadada;}

/* statusbar */
.elfinder .elfinder-statusbar { color:#555; }
.elfinder .elfinder-statusbar a { text-decoration:none; color:#555;}


.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content { background:#fff;}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover { background: #3875d7; color:#fff; }
.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow { background-image:url('../img/arrows-active.png'); }



/*--------------------------------------mycss------------------------------------*/
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
body{position: relative; min-height: 100%; height: auto !important; height: 100%; background: #fff;}

#page {margin-top: 0; margin-bottom: 0; background: white; border: 0;}
.container{width: 100%;}
#content{padding: 45px 0 0;}

.elfinder-toolbar{background: #f7f7f7; border-bottom: 1px solid #eee; border-radius: 0; -moz-box-shadow: 0 -3px 7px #000; -webkit-box-shadow: 0 -3px 7px #000; box-shadow: 0 -3px 7px #000; }
.elfinder{border: none; position: static;}
.elfinder-navbar .ui-state-active{background: #9a9c9f; border-color: #9a9c9f;}
.ui-state-default.elfinder-navbar, .ui-widget-header .ui-state-default{color: #fff;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{color: #bbc0c7;}
#content .ui-widget-header.ui-corner-all, #content .ui-widget-header.ui-corner-bottom, #content .ui-widget-header.ui-corner-right, #content .ui-widget.ui-corner-all{border-radius: 0;}
.elfinder .elfinder-navbar{z-index: 10; border: none; background: #383c43 url(/core/css/../img/noise.png?2013-09-06T18:38:20Z) repeat; -moz-box-shadow: 0 0 7px #000; -webkit-box-shadow: 0 0 7px #000; box-shadow: 0 0 7px #000; height: 100% !important;}
